<div class="mural">
    <div class="mural__left-side">
        <div class="mural__left-side__logo">
            <img class="b-radius-20"
                src="https://static.wikia.nocookie.net/kamenrider/images/7/7d/Kamen_Rider_Agito_Logo.png" alt="">
        </div>

        <div class="mural__left-side__review b-radius-20">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit doloribus qui mollitia! Quidem, nisi,
                repudiandae aut ex necessitatibus eos, sint ipsum atque maiores dolor veritatis omnis aliquam porro
                iusto
                blanditiis? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate consequuntur nesciunt
                eaque
                ab fugiat suscipit saepe voluptas facilis! Soluta excepturi perferendis temporibus molestias vitae sequi
                quas error, tempora aperiam sapiente! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laboriosam,
            </p>
        </div>
    </div>

    <div class="mural__right-side">
        <img class="mural__right-side__poster" [src]="show.imgs.rider_img_xl" alt="">
        <div class="mural__right-side__fav-riders">
            <img src="https://static.wikia.nocookie.net/kamenrider/images/f/fe/KRDCD-KamenRide_Ixa_%28Burst_Mode%29_Rider_Card.png"
                alt="">
            <img src="https://static.wikia.nocookie.net/kamenrider/images/0/07/KRDCD-KamenRide_Delta_Rider_Card.png"
                alt="">
        </div>
    </div>

</div>