<div class="api">
    <div class="api__header">
        <app-big-title>
            <app-text-title>Documentação da API</app-text-title>
        </app-big-title>
    </div>
    <div class="api__content">
        <div class="api__content__accordion">
            <span>
                <h1 class="montserrat f-bold f-4rem">{{'rotas' | uppercase}}</h1>
                <mat-divider></mat-divider>
                <p>A <strong>ridervision</strong> foi desenvolvida para fornecer dados completos e organizados sobre o
                    universo da
                    franquia Kamen Rider. Com ela, é possível acessar informações sobre Riders, temporadas, formas,
                    equipamentos e muito mais. Ideal para fãs, desenvolvedores de aplicativos, sites de fãs ou projetos
                    acadêmicos, a API oferece endpoints intuitivos e bem estruturados para facilitar a integração com
                    qualquer tipo de aplicação.</p>
            </span>


            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <div class="api__content__accordion-panel-header">
                            <code class="madder">/shows</code>
                            <small>GET all riders tv shows in a single JSON file</small>
                        </div>
                    </mat-expansion-panel-header>
                    <pre>{{data | json}}</pre>

                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <div class="api__content__accordion-panel-header">
                            <code class="madder">/rider</code>
                            <small>GET a rider by ID</small>
                        </div>
                    </mat-expansion-panel-header>
                    <pre>{{data[0] | json}}</pre>

                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <div class="api__content__accordion-panel-header">
                            <code class="madder">/show</code>
                            <small>GET a rider tv show by ID</small>
                        </div>
                    </mat-expansion-panel-header>
                    <pre>{{data[0] | json}}</pre>

                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <div class="api__content__accordion-panel-header">
                            <code class="madder">/poster</code>
                            <small>GET a poster from tv show by ID</small>
                        </div>
                    </mat-expansion-panel-header>
                    <pre> "show_img_xl": "https://static.wikia.nocookie.net/kamenrider/images/7/7a/Kuuga_Poster.jpg/"</pre>

                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>