.rv-c-showcase-card
    padding: 2%
    text-align: center
    display: flex
    flex-direction: row

    &__header
        width: 40%
        display: flex
        flex-direction: column
        flex-wrap: nowrap

        &__img
            max-width: 100%
            border-radius: 0px 0px 10px 10px

        &__brand
            border-radius: 10px 10px 0 0
            width: 100%
            color: white
            display: flex
            justify-content: center
            align-items: center
            &[era="reiwa"]
                background-color: #A240CF
            &[era="heisei"]
                background-color: #B71A21
            &[era="neo-heisei"]
                background-color: #09538E
            &[era="showa"]
                background-color: #4AC3B4
        &__brand-title
            margin-top: 2vh
            margin-bottom: 0.5 vh
        &__bot
            &__title
                font-size: 3vw
                font-family: "Montserrat", sans-serif
                font-weight: 900
                margin: 0

            &__subtitle
                font-size: 1vw
                margin-left: 2%
    &__content
        width: 80%
        padding: 2%
        border-radius: 10px
        background-color: #B3B3B3
        margin-left: 1%

        &__img
            margin: 5% 0%
            max-width: 60%
