.rv-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 75vh
    width: 100%
    margin-top: 20px

    &__card
        display: flex
        flex-direction: row
        background-color: rgba(27, 27, 27, 0.6)
        min-width: 85vw
        overflow: hidden

        &__imagem
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            width: 30%

            &__rider
                width: 75%
                height: 80%
                border: 1px solid white
                overflow: hidden
                border-radius: 50px
                position: relative
            
                img
                    position: absolute
                    top: 50%
                    left: 50%
                    transform: translate(-50%, -50%)
                    width: 90% // controla o zoom da imagem
                    height: auto 

            &__text
                display: flex
                flex-direction: column
                align-items: center
                text-align: center
                margin-top: 10px
            
                h1
                    font-size: 50px
                    color: #A61731
                    font-weight: 900
                    margin: 0
            
                p
                    margin: -10px 0 0 0

        &__divider
            background-color: gray
            height: 75vh
            width: 1px

        &__text-area
            margin-top: 3%
            width: 50%

            &__text-1
                margin-left: 2%
                font-size: 55px
                font-family: "Montserrat", sans-serif
                font-weight: 900

            &__divider
                background: linear-gradient(to right, gray, rgba(150, 0, 0, 0.6), transparent)
                height: 1px
                width: 40%

            &__text-2
                margin-top: 2%
                margin-left: 2%
                max-width: 90% // pode ser mais ainda, ver se fica bom assim o visual do texto