<div class="header">
    <img class="header__logo" (click)="setHome()" src="assets/ridervision-logo.svg" alt="">
    <div class="header__menu">
        <div class="m-top-10 m-bot-2">
            <app-header-menu-button (click)="onButtonClicked($event)" *ngFor="let btn of btnListUpper"
                routerLink="btn.route" routerLinkActive="selectedButton === btn.title"
                [ativo]="selectedButton===btn.title">
                {{btn.title}}
            </app-header-menu-button>
        </div>

        <app-horizontal-sep></app-horizontal-sep>

        <div class="m-bot-5">
            <app-header-menu-button (click)="onButtonClicked($event)"
                *ngFor="let btn of btnListBot | securityMenu:((this._userService.logged$ | async) ?? false)"
                routerLink="btn.route" routerLinkActive="selectedButton === btn.title"
                [ativo]="selectedButton===btn.title">
                {{btn.title}}
            </app-header-menu-button>

            <app-header-menu-button></app-header-menu-button>


        </div>



    </div>

</div>