<div class="rv-container">
    <div class="rv-container__card">
        <div class="rv-container__card__perfil">
            <div class="rv-container__card__perfil__content">
                <div class="rv-container__card__perfil__top">
                    <img class="rv-container__card__perfil__content__banner" src="/assets/mock-banner.png">
                    <div class="rv-container__card__perfil__content__dados">
                        <img class="rv-container__card__perfil__content__dados__icon" [src]="user.img">
                        <p>{{user.username}}</p>
                    </div>
                </div>

                <nav class="menu-section">
                    <div class="menu-section__item">
                        <span (click)="changeSection('posts')" [class.clicked]="selectedSection === 'posts'"
                            class="menu-section__link">Posts</span>
                    </div>
                    <div class="menu-section__item">
                        <span (click)="changeSection('fav')" [class.clicked]="selectedSection === 'fav'"
                            class="menu-section__link">Favoritos</span>
                    </div>
                </nav>

                <div class="rv-container__card__perfil__content__comments">
                    <div class="rv-container__comment-area__display">
                        <ng-container *ngFor="let c of comments">
                            <app-comment [comment]="{ username: c.username, comment: c.comment }"></app-comment>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>

        <app-divider-horizontal></app-divider-horizontal>

    </div>