<div class="post-section">
    <div class="post-section__header">
        <img [src]="user.img" alt="">
        <div class="post-section__header__text">
            <h1>&#64;{{user.username}}</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at aperiam minima incidunt, tempore
                sint eum veritatis, aliquid accusamus obcaecati nobis laboriosam facere cupiditate inventore nisi?
                Perferendis minus ratione doloribus.</p>
            <!-- limitar o p a essa qtd de caracteres -->
        </div>
    </div>
    <div class="post-section__body">
        <img src="/assets/image-5.png">
    </div>
    <div class="post-section__bottom"> 
        <ng-container *ngFor="let rider of post.tagged_riders">
            <app-tag [tagged_rider]="rider"></app-tag>
        </ng-container>
        <button class="post-section__bottom__comment" aria-label="Add comment">
            <i class="fa-solid fa-message"></i>
        </button>
    </div>
</div>