<div class="post-section">
    <div class="post-section__header">
        <img [src]="user.img || 'assets/Default.png'" alt="foto_perfil">
        <div class="post-section__header__text">
            <h1>&#64;{{ user.username }}</h1>
            <p>{{ post.content }}</p>
            <!-- limitar o p a essa qtd de caracteres -->
        </div>
    </div>
    <div class="post-section__body">
        <img [src]="post.img">
    </div>
    <div class="post-section__bottom"> 
        <ng-container *ngFor="let riderId of post.tagged_riders">
            <app-tag [tagged_rider]="riderId"></app-tag>
        </ng-container>
        <button class="post-section__bottom__comment" aria-label="Add comment" (click)="toggleComments()">
            <i class="fa-solid fa-message"></i>
        </button>
    </div>
    <div class="post-section__comments" *ngIf="exibirComments">
        <ng-container *ngFor="let comment of comments">
            <app-post-comment [comment]="comment"></app-post-comment>
        </ng-container>
    </div>
</div> 