<ng-container *ngTemplateOutlet="reviewList && reviewList.length>0 ? ifTemp: elseTemp">
</ng-container>


<ng-template #ifTemp>
    <div class="mural">
        <div class="mural__left-side">
            <div class="mural__left-side__review b-radius-20">
                <div class="mural__left-side__logo">
                    <img class="b-radius-20"
                        src="https://static.wikia.nocookie.net/kamenrider/images/7/7d/Kamen_Rider_Agito_Logo.png"
                        alt="">
                </div>
                <p>{{actualShow.name}}
                </p>
            </div>
        </div>

        <div class="mural__right-side">
            <div class="mural__right-side__shows">
                <app-fav-show-btn (riderEmitter)="changeShow($event)" [rider]="rider"
                    *ngFor="let rider of favRiders"></app-fav-show-btn>
            </div>
            <div class="mural__right-side__fav-riders">
                <img src="https://static.wikia.nocookie.net/kamenrider/images/f/fe/KRDCD-KamenRide_Ixa_%28Burst_Mode%29_Rider_Card.png"
                    alt="">

            </div>

        </div>

    </div>
</ng-template>


<ng-template #elseTemp>
    <app-greetings></app-greetings>
</ng-template>