<ng-container *ngIf="isLoading; else contentTemplate">
</ng-container>


<ng-template #contentTemplate>
    <ng-container
        *ngTemplateOutlet="reviewList && reviewList.length > 0 && actualTemplate === 'mural' ? ifTemp : elseTemp">
    </ng-container>
</ng-template>

<ng-template #ifTemp>
    <div class="mural">
        <div class="mural__left-side">
            <div class="mural__left-side__review b-radius-20">
                <div class="mural__left-side__logo">
                    <img class="b-radius-20" [src]="actualReview.show.show_img_logo" alt="">
                </div>

                <h3 style="text-align: center; margin: 3%">{{actualReview.show.name}}
                </h3>
                <div class="review-text">
                    <p>{{actualReview.show_review}}</p>
                </div>
            </div>
        </div>

        <div class="mural__right-side">
            <div class="mural__right-side__shows">
                <app-fav-show-btn (riderEmitter)="changeShow($event)" [review]="review"
                    *ngFor="let review of reviewList">
                </app-fav-show-btn>
                <div class="mural__right-side__fav-riders">
                    <app-fav-rider-btn [rider]=rider *ngFor="let rider of actualReview.fav_riders"></app-fav-rider-btn>
                </div>
                <div class="edit-btn">
                    <p-button (click)="editReviews()" label="Editar" badge="{{reviewList.length}}"
                        icon="pi pi-pencil" />
                </div>
            </div>


        </div>

    </div>
</ng-template>


<ng-template #elseTemp>
    <app-greetings></app-greetings>
</ng-template>