.body_style
    width: 100vw
    height: 100vh
    display: flex
    flex-direction: row

.menu_area
    width: 17%    

.content_area
  width: 83%
  height: 100vh
  background-color: black
  background: radial-gradient(circle at 80% 30%, rgba(120, 0, 0, 0.4) 0%, transparent 60%), radial-gradient(circle at 25% 70%, rgba(120, 0, 0, 0.3) 0%, transparent 40%), #000