@use 'app/styles/reset'
@use 'app/styles/fonts'
@use 'app/styles/variables'

body
    font-family: 'Inter Tight'
    background-color: white
    color: #F2F2F2

.title
    font-size: 4vh

.m-top-10
    margin-top: 10vh

.m-bot-10
    margin-bottom: 10vh

.m-bot-2
    margin-bottom: 2vh

.m-bot-5
    margin-bottom: 5vh

.syncopate
    font-family: 'Syncopate'
    font-weight: 400

.f-bold
    font-weight: 700
