@use 'bootstrap/scss/bootstrap'
@use 'app/styles/reset'
@use 'app/styles/fonts'
@use 'app/styles/variables'
@use 'app/styles/components/card'
@use 'app/styles/colors'
@use 'app/styles/components/showcase-card'

body
    font-family: 'Inter Tight'
    background-color: white
    color: #F2F2F2 !important
    width: 100%
    height: 100%

.disabled
    display: none

.active
    display: block
