@use 'app/styles/reset'
@use 'app/styles/fonts'
@use 'app/styles/variables'

body
    font-family: 'Inter Tight'
    background-color: white
    color: #F2F2F2

.disabled
    display: none

.active
    display: block
