<div class="rv-container__card">
    <div class="rv-container__card__components">
        <app-card-rider>
            <app-card-header>
                <div class="rv-c-card__header__rider">
                    <img [src]="post.tagged_riders[0].rider_img_body" alt="{{post.tagged_riders[0].name}}" />
                </div>
                <div class="rv-c-card__header__rider__text">
                    <h1>{{post.tagged_riders[0].name}}</h1>
                    <p>{{post.tagged_riders[0].main_user}}</p>
                </div>
            </app-card-header>
            <app-divider-horizontal></app-divider-horizontal>

            <app-card-content>
                <div class="rv-c-card__content__text-area">
                    <div class="rv-c-card__content__text-area__text-1">{{post.content}}</div>
                    <app-divider-horizontal-gradient></app-divider-horizontal-gradient>
                    <div class="rv-c-card__content__text-area__text-2">{{textAreaContent}}</div>
                </div>
            </app-card-content>
        </app-card-rider>
        <div class="rv-container__comment-area">
            <div class="rv-container__comment-area__display">
                <ng-container *ngFor="let comment of comments">
                    <app-comment [comment]="comment"></app-comment>
                  </ng-container>
            </div>
            <div class="rv-container__comment-area__input">
                <app-comment-input></app-comment-input>
            </div>
        </div>
    </div>

</div>