<div class="showcase-line">
    <div class="showcase-line__list">
        <app-button-icon *ngFor="let rider of riders" [isCollapsed]="isCollapsed" [collapseRef]="collapse"
            [rider]="rider" (em)="changeRiderCollapse($event)">
        </app-button-icon>
    </div>

    <div class="showcase-line__collapse" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="card">
            <app-showcase-card>
                <app-showcase-card-header>
                    <img appShowcaseImg src="/assets/posters/Gavv_Q1_Poster.webp" alt="">

                </app-showcase-card-header>
            </app-showcase-card>
            <!-- <div class="card-body">{{riderCollapse.name}}</div> -->

        </div>
    </div>
</div>